button {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000000;
}

#author-name {
	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
	 font-size: 40px;
	 color: #8c8c8c;
	 float: left;
	 color: inherit;
	 text-decoration: none;
	 margin-top: 20px;
	 margin-bottom: 20px;
}

.profile-picture{
		float: right;
	margin-top: 30px;
	width: 200px;
	height: 200px;
}

#contact{
	float: right;
	margin-top: 30px;
}

h2{
	color: #8c8c8c;
}

.gif {
	max-width: 100%;
}

#p_title{
	font-size: 25px;
}

.wrapper{

  font-family: "Times New Roman", Times, serif;

  position: absolute;
  left: 30%;
  width: 40%;
}

a { color: #009933; } 